.pixel-font {
  font-family: "VT323", monospace;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #222222;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: "VT323", monospace;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  min-height: 100%;
}
.main-wrapper main {
  width: 100%;
}

.container {
  max-width: 425px;
  margin: 0 auto;
  padding: 0 20px;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.connect-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect-wrapper form {
  text-align: center;
  width: 80%;
  transform: translateY(-50%);
}
.connect-wrapper form input {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 15px;
}
.connect-wrapper form button {
  width: 100%;
  height: 50px;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 200ms ease;
}
.connect-wrapper form button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

header {
  padding: 30px 0;
}

.main-menu nav ul,
.programs-menu nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.main-menu nav ul li,
.programs-menu nav ul li {
  list-style: none;
}
.main-menu nav ul li,
.programs-menu nav ul li {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  transition: all 200ms ease;
  margin-bottom: 2px;
  cursor: pointer;
}
.main-menu nav ul li:last-child,
.programs-menu nav ul li:last-child {
  margin-right: 0;
}
.main-menu nav ul li:hover,
.programs-menu nav ul li:hover {
  color: white;
}
.main-menu nav ul li.active,
.programs-menu nav ul li.active {
  border-bottom: 2px solid white;
  color: white;
  margin-bottom: 0;
}

.programs-menu {
  margin-bottom: 20px;
}

.programs-list .programs-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.programs-list .programs-wrapper .program-button {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all 200ms ease;
}
.programs-list .programs-wrapper .program-button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}
.programs-list .programs-wrapper .program-button.clicked {
  animation: bounce 0.4s ease;
}
.programs-list .programs-wrapper .program-button img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.add-program-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.add-program-wrapper input {
  margin: 0 auto;
  width: 80%;
  height: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  margin-bottom: 0.5rem;
}
.add-program-wrapper input:first-child {
  font-size: 15px;
}
.add-program-wrapper button {
  margin: 0 auto;
  margin-top: 1rem;
  width: 80%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}
.add-program-wrapper button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.edit-program-wrapper {
  width: 100%;
  height: 100%;
}
.edit-program-wrapper div {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.edit-program-wrapper div:last-child {
  border-bottom: none;
}
.edit-program-wrapper div p {
  font-size: 25px;
  margin-bottom: 1rem;
}
.edit-program-wrapper div .image-input {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  margin-bottom: 1rem;
}
.edit-program-wrapper div input:not(.image-input) {
  width: 49%;
  height: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 20px;
}
.edit-program-wrapper div button {
  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}
.edit-program-wrapper div button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.delete-programs-wrapper .delete-program {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.delete-programs-wrapper .delete-program p {
  font-size: 25px;
  width: 60%;
}
.delete-programs-wrapper .delete-program button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  width: 30%;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 200ms ease;
}
.delete-programs-wrapper .delete-program button:hover {
  background-color: #e74432;
}

.voice-controll-wrapper .info {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
}
.voice-controll-wrapper .info-text {
  font-size: 25px;
}
.voice-controll-wrapper button {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: all 200ms ease;
}
.voice-controll-wrapper button:hover {
  transform: translateX(-50%) scale(1.1);
}