@import 'variables';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $main-color;
    color: white;
}

* {
    box-sizing: border-box;
    font-family: "VT323", monospace;
    // border: 1px solid greenyellow;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    min-height: 100%;

    main {
        width: 100%;
    }
}

.container {
    max-width: $mobile;
    margin: 0 auto;
    padding: 0 $gutterM;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}