@import '../global/mixins';

.main-menu,
.programs-menu {
    nav {
        ul {
            @include li-reset;

            display: flex;
            justify-content: center;

            li {
                padding: 0.5rem 1rem;
                margin-right: 1rem;
                font-size: 20px;
                font-weight: 600;
                color: rgba(white, 0.8);
                transition: all 200ms ease;
                margin-bottom: 2px;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    color: white;
                }

                &.active {
                    border-bottom: 2px solid white;
                    color: rgba(white, 1);
                    margin-bottom: 0;
                }

                &.blocked {
                    text-decoration: line-through;
                    color: rgba(white, 0.2);
                }
            }
        }
    }
}

.programs-menu {
    margin-bottom: $gutterM;
}