@import '../global/variables';

.programs-list {
    .programs-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $gutterS;

        .program-button {
            aspect-ratio: 1/1;
            width: 100%;
            height: auto;
            background-color: rgba(white, 0.1);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $gutterS;
            transition: all 200ms ease;

            &:hover {
                transform: scale(1.1);
                background-color: rgba(white, 0.2);
            }

            &.clicked {
                animation: bounce 0.4s ease;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 12px;
            }
        }
    }
}


@keyframes bounce {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}